"{{name}}": {
    Description: "{{{description}}}",{{#required}}
    Required:    true,{{/required}}{{^required}}
    Optional:    true,{{/required}}
    Type:        {{type}},{{#singleItem}}
    MaxItems:    1{{/singleItem}}{{#element}}
    Elem:        {{element}}{{/element}}
},