package {{snakeName}}

import (
	gcloud "terraform-provider-genesyscloud/genesyscloud"
	"terraform-provider-genesyscloud/genesyscloud/util/resourcedata"

	"github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema"
	"github.com/mypurecloud/platform-client-sdk-go/v105/platformclientv2"
)

/*
The resource_genesyscloud_{{snakeName}}_utils.go file contains various helper methods to marshal
and unmarshal data into formats consumable by Terraform and/or Genesys Cloud.
*/

// get{{pascalName}}FromResourceData maps data from schema ResourceData object to a platformclientv2.{{mainObjectGoSDK}}
func get{{pascalName}}FromResourceData(d *schema.ResourceData) platformclientv2.{{mainObjectGoSDK}} {
{{#basicProperties}}
	{{propertyCamel}} := d.Get("{{propertySnake}}").({{type}})
	{{/basicProperties}}

	return platformclientv2.{{mainObjectGoSDK}}{
	{{#basicProperties}}
		{{propertyPascal}}: &{{propertyCamel}},
	{{/basicProperties}}{{#complexProperties}}
		{{{.}}}
	{{/complexProperties}}
	}
}

{{#nestedObjects}}
{{{.}}}
{{/nestedObjects}}