{{#readFunction}}
resourcedata.SetNillableValue(d, "{{property}}", {{objectName}}.{{objectProperty}}, {{readFunction}}){{/readFunction}}{{^readFunction}}
resourcedata.SetNillableValue(d, "{{property}}", {{objectName}}.{{objectProperty}}){{/readFunction}}